.container {
  .doctor_details_box {
    .doctor_details_tittle {
      position: relative;
      margin-bottom: 25px;
      .section_icon {
        left: 0;
        position: absolute;
        right: 0;
        top: -50px;
        max-width: 100%;
      }
      .section_text {
        position: relative;
        h5 {
          display: block;
          margin-bottom: 28px;
          font-family: Rubik, sans-serif;
          font-weight: 500;
          font-size: 18px;
          text-transform: uppercase !important;
          color: #8fb569;
          text-align: start;
        }
        h1 {
          line-height: 1.2;
          margin-bottom: 18px;
          font-size: 60px !important;
          font-family: Poppins, sans-serif;
          font-weight: 600;
        }
      }
      .section_line {
        position: relative;
      }
    }
    .doctor_details_text {
      margin-bottom: 40px;
      p {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 15px;
        padding-right: 16px;
        line-height: 26px;
        color: #647589;
        font-family: Rubik, sans-serif;
      }
    }
    .doctor_details_skill {
      margin-bottom: 35px;
      p {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 15px;
        padding-right: 16px;
        line-height: 26px;
        color: #647589;
        font-family: Rubik, sans-serif;
      }
    }
    .doctor_details_feature {
      .doctor_details_feature-1 {
        .icon-1 {
          float: left;
          margin-right: 30px;
          img {
            max-width: 100%;
            transition: all 0.3s ease-out 0s;
          }
        }
        .list-1 {
          overflow: hidden;
          padding-left: 0 !important ;
          h3 {
            font-family: Poppins, sans-serif;
            font-weight: 600;
            font-size: 16px;
            letter-spacing: 2px;
            margin-bottom: 23px;
            text-transform: uppercase;
          }
          ul {
            display: flex;
            padding-inline-start: 0px !important;
            flex-direction: column;
            margin-bottom: 12px;
          }
        }
      }
      .doctor_details_feature-2 {
        .icon-2 {
          float: left;
          margin-right: 30px;
          img {
            max-width: 100%;
            transition: all 0.3s ease-out 0s;
          }
        }
        .list-2 {
          h3 {
            font-family: Poppins, sans-serif;
            font-weight: 600;
            font-size: 16px;
            letter-spacing: 2px;
            margin-bottom: 23px;
            text-transform: uppercase;
          }
          ul {
            display: flex;
            flex-direction: column;
            margin-bottom: 12px;
          }
        }
      }
    }
    .doctor_details_text-2 {
      margin-bottom: 30px;
      p {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 15px;
        padding-right: 16px;
        line-height: 26px;
        color: #647589;
        font-family: Rubik, sans-serif;
      }
    }
    .server-map {
      min-height: 400px;
      width: 100%;
      margin-bottom: 55px;
      iframe {
        height: 400px;
        width: 100%;
      }
    }
  }
  .card_widger {
    margin-bottom: 80px;
    border-top: 6px solid #8fb569;
    box-shadow: 0 8px 16px 0 rgba(200, 183, 255, 0.2);
    padding: 41px 50px 50px;
    background-color: #fff;
    .card_widger-wrap {
      margin-bottom: 30px;
      .card-thumb {
        max-width: 100%;
        img {
          max-width: 100%;
        }
      }
      .card-infor {
        h3 {
          outline-style: none;
          text-decoration: none;
          cursor: pointer;
          transition: all 0.3s ease-out 0s;
        }
      }
    }
    .box-1 {
      background-color: #fff;
      box-shadow: 0 8px 16px 0 rgba(181, 179, 255, 0.1);
      padding: 30px 30px 18px;
      .card-infor h3 {
        margin-top: 30px;
      }
      .card-infor a:hover {
        color: #8fb569;
      }
    }
    .box-2 {
      box-shadow: none;
      margin-bottom: 0;
      padding: 0;
      .card-infor {
        margin-top: 35px;
        margin-bottom: 35px;
        h3 {
          font-size: 36px;
          font-weight: 600;
          margin-bottom: 15px;
          font-family: Poppins, sans-serif;
        }
        h6 {
          color: #e12454;
          letter-spacing: 2px !important;
          text-transform: uppercase !important;
          font-weight: 500;
          font-size: 14px;
        }
      }
      .card-social ul li {
        display: inline-block;
        margin: 0 9.5px;
        cursor: pointer;
        li {
          list-style: none;
        }
      }
    }
    .widget-title {
      h3 {
        font-family: Poppins, sans-serif;
        font-weight: 600;
        font-size: 40px;
        margin-bottom: 10px;
        display: inline-block;
      }
    }
    .widget-list {
      .widget-icon {
        width: 50px;
      }
      a {
        align-items: center;
        margin-top: 30px;
        text-decoration: none;
        display: flex;
        border-bottom: 2px solid #f2edff;
        margin-bottom: 20px;
        padding-bottom: 20px;
      }
      ul {
        padding: 0 !important;
      }
      li {
        list-style: none;
      }
      .widget-infor {
        color: #223645;
        font-weight: 500;
        margin-left: 20px;
        font-size: 24px;
        letter-spacing: 0;
        text-transform: capitalize;
        span {
          color: #647589;
          display: block;
          font-size: 14px;
          font-weight: 400;
          letter-spacing: 0;
          margin-top: 2px;
          text-transform: capitalize;
        }
      }
    }
    .card_widger {
      margin-top: 80px;
      .widget-title-1 {
        margin-top: 30px;
      }
      .widget-title-1 h3 {
        font-family: Poppins, sans-serif;
        font-size: 40px;
        margin-bottom: 10px;
        font-weight: 600;
      }
    }
    .input-contact {
      input {
        margin-bottom: 20px;
        border: 2px solid #f0f8ff;
        color: #647589;
        font-weight: 400;
        height: 60px;
        padding: 0 0 0 40px;
        width: 100%;
      }
      select {
        width: 350px;
        border: 2px solid #eee7ff;
        color: #647589;
        font-size: 14px;
        height: 70px;
        margin-bottom: 15px;
        padding-left: 40px;
      }
    }
    .send-button {
      text-align: center !important;
      margin-top: 40px;
      margin-bottom: -82px;
      .btn-icon {
        background-color: #e12454;
        border-radius: 30px;
        box-shadow: 0 8px 16px 0 rgba(225, 36, 84, 0.2);
        padding: 24px 50px 22px 84px;
        span {
          background: #fff;
          border-radius: 100%;
          color: #223645;
          font-size: 20px;
          font-weight: 600;
          height: 50px;
          left: 5px;
          line-height: 50px;
          position: absolute;
          text-align: center;
          top: 5px;
          transition: 0.3s;
          width: 50px;
        }
      }
      a:hover {
        background-color: #8fb569;
      }
    }
    .primary_btn {
      background: #e12454;
      border: none;
      border-radius: 0;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-size: 14px;
      font-weight: 500 !important;
      letter-spacing: 1px;
      line-height: 1;
      margin-bottom: 0;
      padding: 24px 40px;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      touch-action: manipulation;
      transition: all 0.3s ease 0s;
      vertical-align: middle;
      white-space: nowrap;
      text-decoration: none;
    }
    .language-details ul{
      padding-inline-start: 0px !important;
    }
    .language-details li {
      list-style: none;
    }
    .language-details ul li {
      display: inline-block;
    }
    .language-details ul li a {
      background: #eae4ff;
      border-radius: 50%;
      color: #223645;
      display: block;
      font-size: 14px;
      font-weight: 500;
      height: 60px;
      line-height: 60px;
      margin-right: 11px;
      margin-top: 30px;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      width: 60px;
    }
  }
}

.container {
  //ipad air
  @media only screen and (max-width: 820px) {
    .doctor_details_box {
      padding-top: 115px;
      padding-bottom: 70px;
      .doctor_details_tittle {
        .section_text {
          h1 {
            font-size: 40px !important;
          }
        }
      }
    }
  }
}
