//
$white: #fff;
$pink: #e12454;
$green: #8fb569;
$baby-pink: #eee7ff;

@mixin text-custom ($font_family, $font_size, $font_weight) {
    font-family: $font_family, sans-serif;
    font-size: $font_size;
    font-weight: $font_weight;
}

.contact__form.quote__calculator {

    background-color: $white;

    .content__wrapper {
        background: $white;
        padding: 60px 60px 0;

        @media (max-width: 767px) {
            & {
                padding: 25px;
            }
        }

        .ant-form-item {
            margin-bottom: 0 !important;
        }
    }

    .phone__input {

        .ant {
            &-input {
                margin-right: 0px !important;
                line-height: 70px;

                &-affix-wrapper {

                    border-style: none !important;
                    padding-left: 38px !important;

                    &:focus, &-focused {
                        box-shadow: 0 0 0 0px rgba(116, 55, 11, 0.2);
                    }
                }
            }

            &icon {
                font-size: 16px;
                margin-right: 30px;
            }

            &-form-item-control-input-content {
                border: 2px solid $baby-pink !important;
            }
        }
          
        input {
            height: 70px;
        }
    }

    .form-submit__button {

        width: 100%;
        @include text-custom(Rubik, 14px, 500);
        color: $white;

        margin-top: 40px;
        margin-bottom: 0;
        
        background: $pink;

        border: none;
        border-radius: 0;
        
        letter-spacing: 1px;
        
        height: 62px;

        padding: 24px 40px;
        text-align: center;
        text-transform: uppercase;
        vertical-align: middle;

        &:hover {
            background: $green;
        }
    }
}