//
$white: #fff;


.contact__form.quote__calculator {
    background-color: $white;

    .content__wrapper {
        background: $white;
        padding: 60px 60px 0;

        @media (max-width: 767px) {
            & {
                padding: 25px;
            }
        }
    }

    .form-submit__button {

        width: 100%;
        margin-bottom: 40px;
    }

    .ant-input {
        margin-right: 0px !important;
        line-height: 70px;
    }
      
    input {
        height: 70px;
        padding-left: 38px !important;
        border: 2px solid #eee7ff !important;
    }
      
    .anticon {
        font-size: 16px;
        margin-right: 30px;
    }
}