$baby-blue: #d3e2f0;
$baby-pink: #eee7ff;
$dark_grey: #647589;

@mixin text-custom ($font_family, $font_size, $font_weight) {
    font-family: $font_family, sans-serif;
    font-size: $font_size;
    font-weight: $font_weight;
}

.ant-select {
    @include text-custom(Rubik, 14px, 400);
    color: $dark_grey; 
    height: 70px;
    margin-bottom: 15px;
    width: 100%;

    &-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
        box-shadow: none;
        border: 2px solid $baby-pink !important;
    }

    &-selector {
        height: 70px !important;
        width: 100%;
        padding-left: 38px !important;
        border: 2px solid $baby-blue !important;
    }
      
    &-selection-item {
        height: 70px !important;
        display: flex;
        align-items: center;
    }
    
    &-arrow {
        @include text-custom(Rubik, 12px, 400);
        color: $dark_grey;
        text-transform: none;
        position: absolute;
        top: 50%;
        right: 15px;
        display: flex;
        align-items: center;
        height: 12px;
        margin-top: -6px;
        text-align: center;
    }
}
  
  
  