.price {
    &__box {
        padding: 60px;
        background: #fff;
        margin-bottom: 30px;
    }

    &__thumb {
        margin-bottom: 45px;
    }

    &__content h1 {
        font-size: 40px;
        margin-bottom: 15px;
        letter-spacing: -.3px;
        line-height: 1.22;
        color: #223645;
        font-family: Poppins, sans-serif;
        margin-top: 0;
    }

    &__content p {
        margin-bottom: 23px;
    }
}